torch==2.5.1
torchvision
git+https://github.com/pytorch/contrib@bdf4da5aa20082d9c81b970fb1b0734ec21db5e6
numpy
scipy
Cython
h5py
tqdm
boto3
requests
pytest
pytest-cov
scikit-learn
joblib
gitpython
pyedflib
patsy
awscli
